<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Scanned Product</title>

</head>

<body>
    <table style="border:15px solid #eeeeee;width: 655px;margin:0 auto;">
        <tr>
            <td style="border-bottom: 1px solid #eeeeee">
                <a href="#">
                    <img src="http://res.cloudinary.com/pharmerzsupport/image/upload/v1515242230/Indexy_logo_1_egvmxb.png" alt="indexify" />
                </a>
            </td>
        </tr>

        <!-- Add company name -->

        <tr>
            <td>
                <p style="margin-left: 20px;">
                    <b th:text="${#strings.capitalize(organization.displayName) ?: ''}">Dear CompanyName</b>
                </p>

                <!-- add scanned username -->
                <p style="margin-left: 20px;margin-right: 20px;line-height: 20px;"><span th:text="${#strings.capitalize(user.name) ?: ''}">Username</span> has scanned your product catalogue and bookmarked <span><b th:text="${#strings.capitalize(product.name) ?: ''}">Product Name</b></span> on indexify platform, to know the details please Log in to indexify
                    app.
                </p>

                <p style="text-align: center;">
                    <b>Download App Form</b>
                </p>
            </td>
        </tr>

        <tr>
            <td valign="top" align="center">
                <table style="width: 200px;" border="0" cellspacing="0" cellpadding="0" align="center">
                    <tbody>
                        <tr>
                            <td valign="top" align="left">
                                <a href="https://play.google.com/store/apps/details?id=com.indexify.indexify">
                                    <img style="display:block;width:110px;height:40px; padding-right: 10px;" src="http://res.cloudinary.com/pharmerzsupport/image/upload/v1463566001/android-playstore.png" />
                                </a>
                            </td>

                            <td valign="top " align="right ">
                                <a href="https://itunes.apple.com/us/app/indexify/id1347100503?ls=1&mt=8">
                                    <img style="display:block;width:110px; height:40px;" src="https://res.cloudinary.com/pharmerzsupport/image/upload/v1463566057/apple_app_store.png"
                                    />
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <p style="margin-left: 20px;line-height: 19px;">
                    Regards,<br/>
                    Indexify Team<br/>
                    <a href="http://indexify.co/">www.indexify.co</a>
                </p>
                
            </td>
        </tr>

    </table>
</body>

</html>