<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
   <title>Forget Password Template</title>

</head>
<body>
    <table style="border:15px solid #eeeeee;width: 655px;margin:0 auto;">
       <tr>
           <td style="border-bottom: 1px solid #eeeeee"><a href="#"><img src="http://res.cloudinary.com/pharmerzsupport/image/upload/v1515242230/Indexy_logo_1_egvmxb.png" alt="indexify"/></a></td>
        </tr>
       
        <tr>
          <td>
            <p style="line-height: 22px;margin-left: 10px;margin-right: 10px;">A request to reset your password has been made. If you did not make this request, simply ignore this email. If you did make this request just click the link below: </p>
          </td>
        </tr>

      
        <tr>
          <td>
            <p style="text-align: center;margin-bottom: 39px;margin-top: 14px;"><a href="#" th:href="@{${link}(id=${id},token=${token})}" style="text-decoration: none;padding: 11px 28px;font-size: 14px;cursor: pointer;"><span>Reset Your Password</span></a></p>
            <p style="line-height: 22px;margin-left: 10px;margin-right: 10px;">If the above URL does not work, try copying and pasting it into your browser. If you continue to experience problems please feel free to contact us.</p>
          </td>
        </tr>

</table>

</body>

</html>
