<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
   <title>Verify Email template</title>

</head>
<body>
    <table style="border:15px solid #eeeeee;width: 655px;margin:0 auto;">
       <tr>
           <td style="border-bottom: 1px solid #eeeeee"><a href="#"><img src="http://res.cloudinary.com/pharmerzsupport/image/upload/v1515242230/Indexy_logo_1_egvmxb.png" alt="indexify"/></a></td>
        </tr>
       
        <tr>
          <td>


            <p style="font-size: 38px;text-align: center;color: #007aff;" th:text="${otp}">123456</p>
              <p style="line-height: 20px;margin-left: 10px;font-size: 14px;text-align: center;">Is OTP For Indexify Login</p>

          </td>
        </tr>
      
</table>

</body>

</html>
