<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
   <title>New User Registration</title>

</head>
<body>
    <table style="border:15px solid #eeeeee;width: 655px;margin:0 auto;">
       <tr>
           <td style="border-bottom: 1px solid #eeeeee"><a href="#"><img src="http://res.cloudinary.com/pharmerzsupport/image/upload/v1515242230/Indexy_logo_1_egvmxb.png" alt="indexify"/></a></td>
        </tr>

        <tr>
          <td>
            <p style="font-size: 18px;text-align: center;color: #7e7e80;">New User Registered </p>
            <p style="text-align: center;line-height: 22px;"><b>First Name</b> <span th:text="${user.firstName}"> first name</span></p>
            <p style="text-align: center;line-height: 22px;"><b>Last Name</b> <span th:text="${user.lastName}"> last name</span></p>
            <p style="text-align: center;line-height: 22px;"><b>Email</b> <span th:text="${user.email.value}"> email </span></p>
          </td>
        </tr>




</table>

</body>
</html>
