<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
   <title>Forget Password Template</title>

</head>
<body>
    <table style="border:15px solid #eeeeee;width: 655px;margin:0 auto;">
       <tr>
           <td style="border-bottom: 1px solid #eeeeee"><a href="#"><img src="http://res.cloudinary.com/pharmerzsupport/image/upload/v1515242230/Indexy_logo_1_egvmxb.png" alt="indexify"/></a></td>
        </tr>
       
        <tr>
          <td>
            <p style="font-size: 38px;text-align: center;color: #7e7e80;">Just one more step...</p>
            <p style="text-align: center;line-height: 22px;">Click below button to verify your email id.</p>
          </td>
        </tr>

      
        <tr>
          <td>
            <p style="text-align: center;margin-bottom: 39px;margin-top: 24px;"><a href="#" th:href='@{${link}(token=${token})}' style="text-decoration: none;background-color:#007aff;padding: 11px 28px;color: #fff;font-size: 13px;border-radius: 25px;cursor: pointer;">Verify Email</a></p>
          </td>
        </tr>

        <tr th:if="${tag == true}">
            <td>
                <p style="text-align: center;line-height: 18px;">Your Unique Code is : <span style="background-color: yellow;font-weight: 600;" th:text="${userId}">GU1</span></p>
            </td>
        </tr>
      
</table>

</body>

</html>
